// Import page-specific CSS files here.
@import "home";
@import "show";
@import "new_post";
@import "new_booking";

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;

  h1 {
    font-size: 32px;
  }
}
@import "login";
@import "signup";
