.text-login {
  font-size: 24px;
  text-align: center;
}

.devise-links {
  font-size: 12px;
  text-align: right;
}

.send-instructions {
  text-align: center;
}

.send-instructions .btn {
  text-align: center;
  font-size: 14px;
  color: gray;
}
