<h1>Index bookings</h1>
<%= console %>
    <% @bookings.each do |booking| %>
      <div class="card">
        <div class="card-body">
          <p><%= booking.checkin %></p>
          <p><%= booking.objeto_acuatico.title %></p>
        </div>
      </div>
    <% end %>
