.footer {
background: rgb(229,240,244);
  background: linear-gradient(180deg, rgba(229,240,244,1) 10%, rgba(93,194,224,1) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 20px;
  color: blue_mar;
  margin-top: auto;
  left:0px;
  bottom:0px;
  width:100%;

  .fa-heart {
  color: #0dabdb;
  }
}
.footer-links {
  display: flex;
  align-items: center;

  a {
  color: #0dabdb;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  opacity: 0.5;
}

  a:hover {
    opacity: 1;
  }
}

.footer-copyright {
  color: rgb(29, 59, 233);
}
