.navbar-lewagon {
  justify-content: space-between;
  background: rgb(93,194,224);
background: linear-gradient(180deg, rgba(93,194,224,1) 0%, rgba(229,240,244,1) 100%);



}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

titulo {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(29, 59, 233);
}
#nav-link {
  color: rgb(29, 59, 233);
}
/* background-color: #1597E5;
 linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 13%, rgba(0,212,255,1) 100%);

*/
